<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://10.10.0.170:3306/simplereg</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">rroper</property>
		<property name="connection.password">q1w2e3R$</property>
		<property name="connection.pool_size">1</property>
		<property name="current_session_context_class">thread</property>
		<property name="show_sql">true</property> 
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping class="org.kesler.simplereg.logic.Service" />
		<mapping class="org.kesler.simplereg.logic.FL" />
		<mapping class="org.kesler.simplereg.logic.UL" />		
		<mapping class="org.kesler.simplereg.logic.Applicator" />		
		<mapping class="org.kesler.simplereg.logic.applicator.ApplicatorFL" />
		<mapping class="org.kesler.simplereg.logic.applicator.ApplicatorUL" />
		<mapping class="org.kesler.simplereg.logic.Operator" />
		<mapping class="org.kesler.simplereg.logic.Reception" />
		<mapping class="org.kesler.simplereg.logic.reception.ReceptionStatus" />
		<mapping class="org.kesler.simplereg.logic.RealtyObject" />
		<mapping class="org.kesler.simplereg.logic.realty.RealtyType" />


	</session-factory>
</hibernate-configuration>		